
@{
    ViewBag.Title = "LinqKartlar";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/web3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/web3/css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/web3/css/style.css" rel="stylesheet" type="text/css" media="all" />

<div class="agile_top_w3_grids">
    <ul class="ca-menu">
        <li>
            <a href="#">

                <i class="fa fa-book" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.ktp</h4>
                    <h3 class="ca-sub">Kiap Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.ylr</h4>
                    <h3 class="ca-sub one">Üye Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-money" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.ttr</h4>
                    <h3 class="ca-sub two">Kasadaki Tutar</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.dncktp</h4>
                    <h3 class="ca-sub three">Ödünçteki Kitaplar</h3>
                </div>
            </a>
        </li>
    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">

                <i class="fa fa-list" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.ktgr</h4>
                    <h3 class="ca-sub">Kategori Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">26,808</h4>
                    <h3 class="ca-sub one">En Aktif Üye</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">29,008</h4>
                    <h3 class="ca-sub two">En Çok Okunan Kiatp</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.iyiyzr   </h4>
                    <h3 class="ca-sub three">En Başarılı Yazar</h3>
                </div>
            </a>
        </li>
    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">

                <i class="fa fa-barcode" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.yayev</h4>
                    <h3 class="ca-sub">En Iyi Yayın evi</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bitcoin" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">26,808</h4>
                    <h3 class="ca-sub one">En Başarılı Personel</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">29,008</h4>
                    <h3 class="ca-sub two">Gelen Mesaj Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">49,436</h4>
                    <h3 class="ca-sub three">Bu Günkü Mesaj</h3>
                </div>
            </a>
        </li>
    </ul>
</div>

