@model Kutuphane.Models.Entity.TBLYAZAR
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<form  method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y=>y.AD,new { @class="form-control"})
        @Html.ValidationMessageFor(x => x.AD)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y=>y.SOYAD,new { @class="form-control" })
        @Html.ValidationMessageFor(x=>x.SOYAD)
    </div>
    <div style="margin-top:15px">
        <label>Detayları</label>
        @Html.TextAreaFor(y => y.DETAY, new {@class="form-control"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">YAZAR EKLE</button>  
    </div>
</form>


